<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles/style-products.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    />
    <title>Productos</title>
  </head>
  <body id="products-body">
    <header class="page-header">
      <a class="back-link" href="./home.html"
        ><i class="fa-solid fa-left-long"></i
      ></a>
      <h1>Nuestros Productos</h1>
      <div></div>
    </header>
    <main class="product-grid">
      <div class="product-card">
        <img src="../images/15919100847394.jpg" alt="Imagen de Producto 1" />
        <div class="card-content">
          <h3 class="product-name">Playstation 5</h3>
          <p class="price">1000000</p>
          <button class="add-to-cart-btn">Agregar al carrito</button>
        </div>
      </div>

      <div class="product-card">
        <img
          src="../images/1c04b35e6fa5544e72391ff903b3.jpg"
          alt="Imagen de Producto 2"
        />
        <div class="card-content">
          <h3 class="product-name">Xbox Series S White</h3>
          <p class="price">500000</p>
          <button class="add-to-cart-btn">Agregar al carrito</button>
        </div>
      </div>

      <div class="product-card">
        <img
          src="../images/dplnews_ps5_vr110924.png"
          alt="Imagen de Producto 3"
        />
        <div class="card-content">
          <h3 class="product-name">Playstation 5 PRO</h3>
          <p class="price">1500000</p>
          <button class="add-to-cart-btn">Agregar al carrito</button>
        </div>
      </div>

      <div class="product-card">
        <img
          src="../images/1058-producto-seriesx-8229.jpg"
          alt="Imagen de Producto 4"
        />
        <div class="card-content">
          <h3 class="product-name">Producto Premium 4</h3>
          <p class="price">1000000</p>
          <button class="add-to-cart-btn">Agregar al carrito</button>
        </div>
      </div>
    </main>
  </body>
  <script type="module" src="../js/products.js"></script>
</html>
