<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/style-register.css" />
    <title>Registrarse</title>
  </head>
  <body id="login-body">
    <main id="login-main">
      <form id="form-container">
        <div id="inputs-container">
          <h2 id="h2-form">Registro</h2>
          <label for="user-input">Usuario</label>
          <input id="user-input" type="text" required />
          <label for="password-input">Contraseña</label>
          <input id="password-input" type="password" required />
          <button id="register-button" type="submit">Registrarse</button>
        </div>
      </form>
    </main>
  </body>
</html>
