* {
  font-family: Arial, Helvetica, sans-serif;
}

#login-body {
  margin: 0;
  padding: 0;
  background-color: antiquewhite;
  min-height: 100vh;
}

#login-main {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
}

#form-container {
  display: flex;
  border: solid;
  border-width: 0.5px;
  border-radius: 15px;
  border-color: rgb(0, 0, 0);
  background-color: white;
  box-shadow: 20px;
  padding-block: 50px;
  padding-inline: 80px;
}

#inputs-container {
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  padding-bottom: 20px;
}

#h2-form {
  margin: 0%;
  text-align: center;
}

label {
  margin-top: 10px;
}

#login-button {
  margin-block: 15px;
  padding-block: 5px;
  border-radius: 6px;
  background-color: pink;
}
