* {
  font-family: Arial, Helvetica, sans-serif;
}

#home-body {
  margin: 0;
  padding: 0;
  background-color: antiquewhite;
  min-height: 100vh;
}

.welcome-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  background: antiquewhite;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05a);
  margin-bottom: 2rem;
  margin-inline: 2rem;
}

.typewriter {
  font-family: 'Courier New', Courier, monospace;
  font-size: 3rem;
  font-weight: bold;
  color: #333;
  overflow: hidden;
  white-space: nowrap;
  border-right: 0.15rem solid #007bff;
  animation: typing 2s steps(11) forwards, blink 0.75s step-end infinite,
    hide-cursor 0.1s linear 2s forwards;
}

.cart-icon {
  font-size: 2.5rem;
  color: #007bff;
  margin-left: 1rem;
  opacity: 0;
  transform: scale(0.5);
  animation: pop-in 0.5s ease-out 2s forwards;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 11ch;
  }
}

@keyframes blink {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #007bff;
  }
}

@keyframes pop-in {
  from {
    opacity: 0;
    transform: scale(0.5);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes hide-cursor {
  to {
    border-right-color: transparent;
  }
}

@keyframes appear {
  to {
    opacity: 1;
  }
}

header {
  display: flex;
  padding: 1rem;
  background-color: antiquewhite;
  justify-content: space-between;
  align-items: center;
}

.dropdown-container {
  position: relative;
}

#menu-btn {
  background-color: pink;
  color: white;
  padding: 0.6rem 1rem;
  font-size: 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#menu-btn:hover {
  background-color: #ffb6c1;
}

#logout-btn {
  background-color: #dc3545; /* Rojo para indicar salida */
  color: white;
  padding: 0.6rem 1rem;
  font-size: 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  align-items: center;
  gap: 0.5rem; /* Espacio entre icono y texto */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#logout-btn:hover {
  background-color: #c82333;
}

a {
  text-decoration: none;
  color: white;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;
  min-width: 200px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  z-index: 10;
  margin-top: 0.25rem;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border-bottom: 1px solid #f0f0f0;
}
.dropdown-content a:last-child {
  border-bottom: none;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown-content.show {
  display: block;
}
